<%= favicon_link_tag 'favicon.ico' %>
<div id="logo"</div>
<br>
<br>
<br>
<br>
<h2><span>personalized vitamins.</span></h2>
<h3>Create your own vitamins for super health.</h3>
<center>
		<footer>
			©2014 VLXR.CO
		</footer>
	</center>
	<h4>Signup to be invited for beta!</h4>
<div id = "wrapper">
<%= form_tag('/', method: "post", id: "subscribe", remote: "true") do -%>
	<%= email_field(:email, :address, {id: "email", type: "text", placeholder: "invite@me.com"}) %>
		<button><div class="subscribe"></button></div>
		<% end %>
		<div id="response"></div>
