<h1>vlxr</h1>
<br>
<br>
<br>
<br>
<h2>vitamins made to fit you.</h2>



	<h4></h4>
<div id = "wrapper">
<%= form_tag('/subscribe/subscribe', method: "post", id: "subscribe", remote: "true",format:"js") do -%>
	<%= email_field(:email, :address, {id: "email", type: "text", placeholder: "Enter your email for an early invite."}) %>
		<button><div class="subscribe"></button></div>
		<% end %>
		<footer>
			© 2014 VLXR
		</footer>
		<div id="response"></div>