// Place all the styles related to the landingpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	font-family: Arial, sans-serif;

}

::-webkit-input-placeholder { 
    color:#ceeefb;
}

body{
	background-size: 1200px 370px;
	background-repeat: no-repeat;
	background-image: url('bg.jpg');
	background-position: -10px -5px;
	background-color: #0257DE;
	overflow:hidden;
}
   
#logo{
	background-image: url('logo.svg');
	background-repeat: no-repeat;
	margin-left: 500px;
	margin-top: 30px;
	background-size: 150px 150px;
	height: -20px;
}
#wrapper{
  width:400px;
  margin-left: 390px;
  margin-top: 325px;
}

input[type=text]{
	border:none;
	border-radius:0px 0px 0px 0px;
	background: rgb(0, 118, 255);
	width:260px;
	height:40px;
	padding:10px;
	font-size:1.0em;
	font-family: Raleway;
	color: white;
}

input[type=text]:focus{
 outline:none;
 border:0;
 border:none;
 outline:none;
}

button{
    border:none;
    border-radius:0px 0px 0px 0px;
	width:75px;
	height:60px;
	text-indent:-20000px;
	position:absolute;
	background: rgb(0, 170, 255);
	outline:none;

}
div.subscribe{
   width:100px;
   margin-top: 8px;
   margin-left: 8px;
   background-size: 45px 45px;
   height:90px;
   position:absolute;
   top:0;
   background-image:url('email-1.png');
   background-repeat: no-repeat;
}

#response{
	color: rgb(48, 48, 49);
	font-family: Raleway;
	font-weight: 250px;
	font-size: 15px;
	margin-top: -280px;
	text-align: center;
}

div.lift-off{
   background:url('http://codeartmedia.com/sandbox/rocket-button/check.png') no-repeat center center;
   width:65px;
   height:60px;
   display:none;
   position:absolute;
   top:0;
		
}

button:hover{
	cursor:pointer;
}

h1{
	font-family: multicolore;
	font-size: 59px;
	margin-top: 120px;
	color: #080E12;
	text-align: center;
}

h2{
	font-family: Raleway;
	font-weight: 500;
	font-size: 40px;
	margin-top: -80px;
	color: black;
	text-align: center;
}

h2 span{
	font-family: Raleway;
	font-weight: 400;
	font-size: 25px;
	margin-top: -10px;
	text-align: center;
}

h3{
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 30px;
	margin-top: 130px;
	color: white;
	text-align: center;
}

h4{
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 20px;
	margin-top: -300px;
	color: white;
	margin-left: -60px;
}
h5{
	font-family: 'Raleway';
	font-weight: regular;
	font-size: 20px;
	color: rgb(48, 18, 60);
	text-align: center;
}

logo{ 

	background-image: url(logo.png);
	background-position: 100px 200px;
}

#nav
{
	background-color: white;
	width: 100%;
	height:50px;
	box-shadow: 0px 1px 45px #5E5E5E;
	position:fixed;
	top:0px;
}

.title
{
	font-family: Pacifico;
	font-size: 23px;
	width: 350px;
	margin-top: 6px;
	padding-left: 45px;
}

footer{
	font-family: multicolore;
	height: 45px;
	bottom: 0;
	color: white;
	margin-left: 525px;
	margin-top: 100px;
}